.iconButton {
	border: none;
	cursor: pointer;
	font-family: inherit;
	background: transparent;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	width: 20px;
	height: 20px;
}
