.searchForm {
	display: flex;
	align-items: center;
	height: 44px;
	border-radius: var(--radius-xl);
	background: var(--color-input-bg);
}

.searchInput {
	flex: 1;
	border: none;
	outline: none;
	font-size: var(--font-size-base);
	padding: 12px 23px;
	background: transparent;
	color: var(--color-text-light);
}

.searchInput::placeholder {
	color: var(--color-text-light);
}

.searchIcon {
	width: 18.21px;
	height: 18.21px;
	margin-right: 13px;
}
